.submitForm {
  color:#000000;
  display: flex;
  height:500px;
}

.submitForm form label{
  color:#000000;
}

.submitForm form .col1{
 	width: 50%;
 	padding-right: 5px;
}

.submitForm form .col2{
 	width: 50%;
 	padding-left: 5px;
}

