<div class="inner-container" ng-controller="HomeCtrl as Ctrl">
   <h3>About Us</h3>
   <div class="hrule"></div>
   <p>School Arts Fund is a nonprofit organization founded to fund Performing and Visual Arts programs in Houston and surrounding areas public schools.</p>
   <h3>Goals</h3>
   <ul>
   		<li>Recruit artists of all types to donate time, artwork, music, and performances to help raise money.</li>
   		<li>Increase awareness of the lack of funding in the Performing and Visual Arts in public schools.</li>
   		<li>Increase community involvement and awareness of School Arts Fund by hosting with area businesses at local events.</li>
   		<li>Identify volunteers, friends of the arts, patrons, and community businesses to get involved in fundraising, and donating to the School Arts Fund.</li>
   		<li>With donations provided, fund departments with the items most needed in each arts area.</li>
   		<li>Within two years be able to provide scholarships to students going to college, and majoring in the arts.</li>
   		<li>Provide space and teaching time for aspiring students in the Performing and Visual Arts.</li>
	</ul>
</div>