<div ng-controller="AboutCtrl as Ctrl">
   <h3>Get Involved</h3>
   
   <h5>Yes, we are looking for volunteers!</h5>
   <horiz-rule margintop='10' marginbottom="20"></horiz-rule>
   <div class="embedded-photo-right">
      <img src="views/about/img/woodshop-class-5.jpg" alt="">
   </div>
   <h4>Art Donations</h4>
   <p>Several times a year we hold...</p>
   <h4>Guest Speakers</h4>
   <p>Kids love having guest speakers in their classrooms.  For volunteers, this offers a chance to relly make a difference in a child's life by opening up opportunities they never knew existed, and it does not require any expense or long term commitment.  Just talk about what you know best and are passionate about - your art or business!</p>
   <h4>Field Trip Outings</h4>
   <p>If there is one thing school kids like better than a guest speaker, it's getting out of class and going on a field trip!  The School Arts Fund includes "industrial arts", such as woodshop, metalshop, small engine and automobile repair.</p>
</div>