<div ng-controller="AboutCtrl as Ctrl">
   <h3>Why We Do It</h3>
   <horiz-rule margintop='10' marginbottom="20"></horiz-rule>
   <div class="embedded-photo-right">
      <img src="views/about/img/woodshop-class.jpg" alt="">
   </div>
      <p>In our public schools, the arts (both traditional and industrial) are considered "electives", i.e. not part of the CORE cirriculum.  They are the first to be killed or de-funded in a budget crisis.  Since budgets are continuously being cut in favor of the CORE curriculum, shop classes lack even the most basic equipment and materials, and shop teachers are required by necessity to beg, borrow, or steal. And yet, research has shown that art education and the use of one's hands is important to the development of creativity, critical thinking, and other life skills. </p>
   <p>Whether a child is taking a dance class, in the band, or taking wood shop, they are learning lessons about life and success that a textbook cannot teach &mdash; lessons that will long outlast the correct answers on a standardized placement test. These lessons are not just "art specific" &mdash; students develop skills for networking, public speaking, problem solving, dedication, teamwork, and creativity &mdash; valuable skills that transfer to successs in life and in the workforce.</p>
   <p>In addition to budgetary constraints, the arts have also suffered from neglect and apathy.  Over the past several decades, so much emphasis has been focused on preparation for college acceptance and standardized testing, that traditional arts and skills have fallen to the way side. As a nation, we are exporting manufacturing and importing workers to the detriment of our own young men and women entering the workforce for the first time.</p>
  
   <h5>The arts are not just about pretty pictures - they:</h5>
   <ul>
      <li>Inspire learning and help make traditional subjects more approachable for the most students</li>
      <li>Help level the playing field for socio-economically disadvantaged students</li>
      <li>Bring communities together</li>
      <li>Foster creativity and ingenuity - and inspire success in the workplace</li>
      <li>Help prepare young adults for entering the workforce</li>
      <li>Can change a child’s life forever</li>
   </ul>
  
   
</div>