<div>
   <h3>Partners</h3>
   <horiz-rule margintop='10' marginbottom="20"></horiz-rule>
   <h5>Partner Levels</h5>
   <table class="table table-striped">
	<thead>
	<tr>
		<th>Level</th>
		<th>Daily Pledge</th>
		<th>Quarterly Ad</th>
		<th>Food Truck Party</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Platinum</td>
		<td>$10</td>
		<td>Full page</td>
		<td>YES, $2500</td>
	</tr>
	<tr>
		<td>Gold</td>
		<td>$5</td>
		<td>Half page</td>
		<td>Table only ($100), limit 4 per year.</td>
	</tr>
	<tr>
		<td>Silver</td>
		<td>$4</td>
		<td>Quarter page</td>
		<td>Table only ($100), limit 2 per year.</td>
	</tr>
	<tr>
		<td>Bronze</td>
		<td>$3</td>
		<td>Listing Only</td>
		<td>Table only ($100), limit 1 per year.</td>
	</tr>
	</tbody>
</table>
<h5>Our Partners</h5>
   <table class="table table-striped">
	<thead>
	<tr>
		<th>Name</th>
		<th>Address</th>
		<th>Phone</th>
		<th>Website</th>
		<th>Level</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Evolution Roofing Systems, Inc.</td>
		<td>13003 Murphy Rd., Bldg. G</td>
		<td>Stafford, TX 77477</td>
		<td><a href="http://evolutionroofingsystems.com/">evolutionroofingsystems.com</a></td>
		<td>GOLD</td>
	</tr>
	<tr>
		<td>Evolution Industrial Arts, Inc.</td>
		<td>13003 Murphy Rd., Bldg. G</td>
		<td>Stafford, TX 77477</td>
		<td><a href="http://www.evolutionindustrialarts.com/">evolutionindustrialarts.com</a></td>
		<td>GOLD</td>
	</tr>
	</tbody>
</table>
   
   
</div>