<div>
    <h3>Items For Auction</h3>
    <horiz-rule margintop='10' marginbottom="20"></horiz-rule>
    <div class="auction-gallery">
        <div class="auction-item">
            <img src="views/auction/williams-guitar/williams-web-auction-item.jpg" alt="">
            <h6>Don Williams autographed guitar.</h6>
            <a ui-sref="williamsauction" class="button tiny">More</a>
        </div>
    </div>
    <!-- <div class="disclaimer">
        <h3>Rules for Auction</h3>
        <ol>
            <li>By bidding in the School Arts Fund's silent auctions, each bidder agrees to these auction rules.</li>
            <li>All sales are final. There will be no exchanges or refunds unless otherwise noted. All items are “as is.” School Arts Fund has attempted to describe and catalog items correctly, but neither warrants nor represents and in no event shall be responsible for the correctness of descriptions, genuineness, authorship, provenance or condition of the items. No statement made in this catalog, or made orally at the auction or elsewhere, shall be deemed such a warranty, representation, or assumption of liability.</li>
            <li>The auction item value listed is an estimate of fair market value. Items have not been appraised unless so noted. The amount you pay above this fair market value estimate is normally tax deductible as a charitable contribution. Please consult your tax adviser to clarify amount of deduction.</li>
            <li>Payment for items purchased must be made in full at the close of the auction. School Arts Fund accepts MasterCard, Visa, or a PayPal online payments.</li>
            <li>School Arts Fund reserves the right to add or withdraw items, without notice, to or from the auction.</li>
            <li>Each person bidding assumes all risks and hazards related to the auction and items obtained at the auction. Each bidder agrees to hold harmless from any liability arising indirectly from School Arts Fund, their elected and appointed officials, members and employees, the auctioneer(s), the auction company and its agents and employees, the event organizers, sponsors, and/or volunteers connected with the auction.</li>
        </ol>
    </div> -->
    
</div>