<div>
   <h3>Donate</h3>
   <div class="hrule"></div>
    <h5>Donate Now!</h5>
    <p>Choose a school below to make a one-time gift to the School Arts Fund.</p>
    <div class="flexRow">
    	<a href="http://www.schoolartfund.org/Stafford_c2.htm" ><img src="views/donate/stafford.jpg" alt=""></a>
    	<a href="http://www.schoolartfund.org/Westbury_c3.htm" ><img src="views/donate/westbury.jpg" alt=""></a>
    </div>
    <div class="spacerMed"></div>
    <div class="hrule"></div>
   <h5>Become a SAF Partner!</h5>
   <p>SAF Partners are a community of local businesses who encourage patronage among themselves.  SAF publishes a quarterly booklet of partners, and hosts a bi-weekly Food Truck Party at partner locations.  Becoming a SAF Partner is a great way to market your business, meet and network with other local business owners, and even get to know local city officials.</p>
   <a ui-sref="application">Submit a SAF Partner Membership Application today!</a>
   <table class="table table-striped">
	<thead>
	<tr>
		<th>Level</th>
		<th>Daily Pledge</th>
		<th>Quarterly Ad</th>
		<th>Food Truck Party</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Platinum</td>
		<td>$10</td>
		<td>Full page</td>
		<td>YES, $2500</td>
	</tr>
	<tr>
		<td>Gold</td>
		<td>$5</td>
		<td>Half page</td>
		<td>Table only ($100), limit 4 per year.</td>
	</tr>
	<tr>
		<td>Silver</td>
		<td>$4</td>
		<td>Quarter page</td>
		<td>Table only ($100), limit 2 per year.</td>
	</tr>
	<tr>
		<td>Bronze</td>
		<td>$3</td>
		<td>Listing Only</td>
		<td>Table only ($100), limit 1 per year.</td>
	</tr>
	</tbody>
</table>

 <h5>Sponsor a Class or Item</h5>
 <p>In addition to becoming a SAF Partner, you may also want to sponsor a specific item or particular classroom.  Please contact us for a full list of requests that have not yet been fulfilled.</p>
 <table class="table table-striped">
	<thead>
	<tr>
		<th>Class</th>
		<th>Teacher</th>
		<th>Request</th>
		<th>Cost</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Robotics</td>
		<td>Roberts</td>
		<td>Various electronics</td>
		<td>$1250</td>
	</tr>
	
	</tbody>
</table>
</div>