<div ng-controller="HomeCtrl as Ctrl" class="home-page">
	<div class="main-left">
		<h2>The Handprint Collection</h2>
		<img ng-src="views/home/img/HandPrint500px.png" alt="">
		<p>SAF collects handprints!  You can own a copy of one of our handprints for just a $10 donation! See collection for price of autographed original. See who we have in our collection!</p>
		<p><a ui-sref="handprints">Go to Collection</a></p>
		<horiz-rule margintop='10' marginbottom="0"></horiz-rule>
	</div>
    <div class="main-right">
		<div>
			<h2>Who We Are</h2>
			<p>School Arts Fund is a 501.C3 organization with a mission to provide much needed funding for public school arts programs.  Our primary source of income is derived from our corporate partners and sponsors, along with sale of original artwork and other donated items from local and national artists. These funds will be used for traditional art programs such as drawing, painting, music, and drama, as well as "new media" technology programs including web design and 3D modeling.  SAF also supports the industrial trade arts, such as metal shop and wood shop.</p>
		</div>
		<horiz-rule margintop='20' marginbottom="0"></horiz-rule>
		<div>
			<h2>Don Williams Autographed Guitar</h2>
			<p>The School Arts fund is pleased to announce the auction of two Yamaha FG700S Guitars autographed by the country legend Don Williams.  Mr. Williams signed these guitars at The Stafford Centre while there to perform on November 18, 2015.</p>
			<p><a ui-sref="williamsauction">Go to Auction</a></p>
		</div>
		<horiz-rule margintop='20' marginbottom="0"></horiz-rule>
    </div>
</div>